.App {
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.full-page-component {
  width: calc(50vw - 4rem);
  height: calc(100vh - 4rem);

}

.container {
  max-width: 768px;
  display: flex;
  flex-direction: column;
}

p, small {
  max-width: 70ch;
  margin: 1rem auto;
}

.help {
  transform-origin: top;
  animation: scaleDown .2s ease-in-out forwards;
}

@keyframes scaleDown {
  from {
    transform: scaleY(0) scaleX(.8);
    height: 0;
  }
  to {
    transform: scaleY(1) scaleX(1);
    height: 100%;
  }
}

.form-group {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 90vw;
  margin: auto;
}

.form-control {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin: 1rem 0;
  width: 100%;
  gap: 1rem;
  justify-content: center;
  align-items: center
}

@media (max-width: 768px) {
  .form-control {
    grid-template-columns: 1fr;
    width: 80vw;
  }
}

.form-control label {
  text-align: left;
}

.outer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}