.App {
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.full-page-component {
  width: calc(100vw - 4rem);
  height: calc(100vh - 4rem);

}

.form-group {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 90vw;
  margin: auto;
}

.form-control {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin: 1rem 0;
  width: 100%;
  gap: 1rem;
}

@media (max-width: 500px) {
  .form-control {
    grid-template-columns: 1fr;
    width: 80vw;
  }
}

.form-control label {
  text-align: left;
}

.outer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}