:root {
  --modal-background: #d4d995
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input, textarea, select {
  border-radius: 5px;
  padding: .5rem;
}

input[type="submit"], input[type="button"] {
  min-width: 5rem;
}

a {
  text-decoration: none;
  color: #4c4c4c !important;
}

a:hover, a:focus {
  text-decoration: underline;
  color: #000 !important;
}

a:visited {
  color: inherit;
}