.template-list-row {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    margin: 1rem auto;
    border: 1px solid;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    width: auto;
}

.template-name {
    text-align: left;
}

.template-link {
    cursor: pointer;
    display: block;
    padding: 0 1rem;
}

.template-link:hover {
    text-decoration: underline;
}

